/*---[WaybarStyle73]---*/
/*--------------------*/

/*Pywal colors*/
@import '/home/keyn/.cache/wal/colors-waybar.css';


/*ОБЩЕЕ*/
* {
    font-family: JetBrains Mono, Hack Nerd Font;
    border: none;
    font-size: 14px;
}

#waybar {
    background: transparent;
}


/*ВОРКСПЕЙС*/
#workspaces {
    color:#FFFFFF;
    border-radius: 6px;
    border: 0;
    font-weight: bold;
    font-style: normal;
    background: #FFFFFF;
    opacity: 0.8;
}

#workspaces button {
    padding: 0px 6px;
    margin: 4px 4px;
    border-radius: 6px;
    border: 0;
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
    opacity:0.9;
    background-color: @color11;
}



/*МОДУЛИ*/
#wireplumber {
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 0px 6px;
    margin: 1px 0px;
    margin-left: 4px;
    opacity: 0.9;
    border:2px solid #FFFFFF;
    background-color: @color11;
}

#wireplumber.muted {
    color: #FFFFFF;
    background-color: @color11;
}

#language {
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 0px 5px;
    margin: 1px 0px;
    margin-left: 4px;
    opacity:0.9;
    border:2px solid #FFFFFF;
    background-color: @color11;
}

#clock {
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 0px 9px;
    margin: 1px 0px;
    border:2px solid #FFFFFF;
    opacity: 0.7;
    background-color: @color11;
}

#tray {
    color: #FFFFFF;
    border-radius: 6px;
    padding: 0px 6px;
    margin: 1px 0px;
    margin-left: 4px;
    opacity:0.9;
    border:2px solid #FFFFFF;
    background-color: @color11;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#battery {
    color: #ffffff;
    border-radius: 6px;
    padding: 0px 10px;
    padding-right: 20px;
    margin: 1px 0px;
    margin-left: 4px;
    opacity: 0.9;
    border:2px solid #FFFFFF;
    background-color: @color11;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
    font-size: 14px;
    border-radius: 6px;
    padding: 0px 12px;
    opacity: 0.9;
    border:2px solid #FFFFFF;
}


#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#backlight,#temperature {
    color: #FFFFFF;
    border-radius: 6px;
    padding: 0px 9px;
    margin: 1px 0px;
    margin-left: 4px;
    border:2px solid #FFFFFF;
    background-color: @color11;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#memory, #cpu {
    margin-left:0px;
    padding:0px 6px;
    font-size:15px;
    color:#FFFFFF;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}
